@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
	--background: #ffffff;
	--foreground: #171717;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
} */


/* form * {
	font-size: 18px !important;
} */

@media (max-width: 768px) {
	form * {
		font-size: 18px !important;
	}
}

body {
	min-height: 100svh;
	box-sizing: border-box;
}

/* styling for current navbar element */
nav [data-active="true"] {
	border-bottom: 0.15rem solid;
	padding-bottom: 0.2rem;
}
