[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2-binary = "~=2.9.10"
Flask = "~=3.1.0"
Flask-Login = "~=0.6.3"
Flask-Bcrypt = "~=1.0.1"
flask-cors = "*"

[dev-packages]

[requires]
python_version = "3.13"
